* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #c4c1c1;
}

body {
  background-color: #222;
}
span {
  color: #f0f8ff;
}

.container {
  gap: 1.5rem;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: lvh;
}

p {
  margin: 10px;
  color: #c3c1c1d9 !important;
}

h2 {
  margin-top: 2rem;
}

.spacer {
  height: 600px;
  display: flex;
  align-items: center;
}

.img {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 100%;
  background-size: contain;
}

.img h2 {
  padding-bottom: 10px;
}
.img img {
    width: 100%;
    height: auto;       
    object-fit: contain;
    display: block;
  }
  

.lazy-img {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.lazy-img.loaded {
  opacity: 1;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
