* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #c4c1c1;
}

body {
  background-color: #222;
}
span {
  color: #f0f8ff;
}

.container {
  gap: 1.5rem;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  margin-top: 2rem;
}

.spacer {
  height: 600px;
}

.img {
  max-width: vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 100%;
  min-height: 300px;
  max-height: 600px;

  img {
    object-fit: cover;
  }
}
