* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #c4c1c1;
}

body {
  background-color: #222;
}
span {
  color: #f0f8ff;
}

.container {
  gap: 1.5rem;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: lvh;
}

h2 {
  margin-top: 2rem;
}

.spacer {
  height: 600px;
 
}

.img {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 100%;

  overflow: hidden;

  background-size: contain;

  img {
    
  }
}
